{% load static %}
<style>

    .sidebar a {
        color: #fff; 
    }
    .sidebar.collapsed {
        transform: translateX(-100%); /* Hide sidebar */
    }
    .sidebar-toggle {
        cursor: pointer;
    }
    .navbar-nav {
        margin-bottom: 0; 
    }
    .form-control {
        width: 200px; 
        background-color: #fff;
    }
    #sidebar-icon:hover {
        color: #8D99AE;
    }
    #CartBtn {
        background: none;
        color: #fff;
        outline: none;
        border: none;
        font-size: 20px;
    }
    #CartBtn:hover {
        color: #8D99AE;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top"  style="background-color: #2B2D42;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">YourBrand</a>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav mb-2">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mb-2">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span id="dropdownMenuText">        
                                {% if category.name %}
                                    {{ category.name }}
                                {% else %}
                                    Categories
                                {% endif %}
                            </span> 
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                {% for category in categories %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'category_detail' category.id %}" onclick="changeDropdownText('{{ category.name }}')">{{ category.name }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="#">Refund</a>
                </li>
            </ul>
            <!-- <form class="d-flex justify-content-center ml-4" action="#" method="GET">
                <div class="input-group">
                    <input class="form-control" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form> -->
        </div>
        <div class="text-center">
            {% if user.is_authenticated %}
                <p class="text-primary">Welcome, {{ user.username }}!</p>
                <a href="{% url 'logout' %}" class="btn btn-danger me-2">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">
                    <i class="fas fa-sign-in-alt"></i> 
                </a>
            {% endif %}
            <button class="mt-2" id="CartBtn">
                <a href="{% url 'cart_summary' %}" class="btn btn-primary">
                    <i class="fa fa-cart-shopping"> <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span></i> 
                </a>
            </button>
        </div>
    </div>
</nav>

<!-- Bootstrap JS and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function changeDropdownText(selectedCategory) {
        document.getElementById("dropdownMenuText").innerText = selectedCategory;
    }
</script> 