{% extends 'home.html' %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> 
<style>
    .scrollable-description {
        height: 300px;
        overflow-y: auto;   
        border: 1px solid #ccc; 
        padding: 10px; 
    }
</style>

<div class="container my-4">
    <h1 class="mb-4"><br></h1>
    <div class="row">
        <div class="col-md-6">
            <img src="{{ product.product_image.url }}" alt="{{ product.name }}" class="img-fluid">
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <div class="scrollable-description">
                        <p class="card-text">Category: {{ product.category }}</p>
                        <p class="card-text">Description: {{ product.description }}</p>
                    </div>
                    <p class="card-text text-danger">Price: <del>{{ product.price }}</del></p>
                    {% if product.on_sale %}
                    <p class="text-primary">Sale Price: {{ product.sale_price }}</p>
                    {% endif %}
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-primary" type="button" value="{{ product.id }}" id="add-cart">
                        <i class="fa-solid fa-cart-shopping"></i> Add to Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).on('click', '#add-cart', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart_add" %}',
            data: {
                product_id: $('#add-cart').val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(json) {  
                console.log(json);
            },
            error: function(xhr, errmsg, err) {
                console.error(errmsg);  
            }
        });
    });
</script>

{% endblock %}
