{% extends 'home.html' %}

{% block content %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container mt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pending-tab" data-toggle="tab" href="#Pending" role="tab" aria-controls="Pending" aria-selected="true">To Ship</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="shipped-tab" data-toggle="tab" href="#Shipped" role="tab" aria-controls="Shipped" aria-selected="false">To Receive</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="delivered-tab" data-toggle="tab" href="#Delivered" role="tab" aria-controls="Delivered" aria-selected="false">To Review</a>
        </li>
    </ul>
    
    <div class="tab-content mt-3" id="myTabContent" style="min-height: 900px;">
        <div class="tab-pane fade show active" id="Pending" role="tabpanel" aria-labelledby="pending-tab">
            {% for order in pending_orders %}
                <ul class="list-unstyled">
                    {% for item in order.items.all %}
                        <li class="media">
                            <img src="{{ item.product.product_image.url }}" alt="{{ item.product.name }}" class="mr-3" style="width: 50px; height: 50px;">
                            <div class="media-body">
                                <strong><a href="{% url 'cart:order_detail_view' item.order_id %}">{{ item.product.name }}</a></strong> x {{ item.quantity }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% empty %}
                <p>No pending orders.</p>
            {% endfor %}
        </div>

        <div class="tab-pane fade" id="Shipped" role="tabpanel" aria-labelledby="shipped-tab">
            {% for order in shipped_orders %}
                <ul class="list-unstyled">
                    {% for item in order.items.all %}
                        <li class="media">
                            <img src="{{ item.product.product_image.url }}" alt="{{ item.product.name }}" class="mr-3" style="width: 50px; height: 50px;">
                            <div class="media-body">
                                <strong><a href="{% url 'cart:order_detail_view' item.order_id %}">{{ item.product.name }}</a></strong> x {{ item.quantity }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% empty %}
                <p>No shipped orders.</p>
            {% endfor %}
        </div>

        <div class="tab-pane fade" id="Delivered" role="tabpanel" aria-labelledby="delivered-tab">
            {% for order in delivered_orders %}
                <ul class="list-unstyled">
                    {% for item in order.items.all %}
                        <li class="media">
                            <img src="{{ item.product.product_image.url }}" alt="{{ item.product.name }}" class="mr-3" style="width: 50px; height: 50px;">
                            <div class="media-body">
                                <strong><a href="{% url 'product_detail' item.product.pk %}">{{ item.product.name }}</a></strong> x {{ item.quantity }}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% empty %}
                <p>No delivered orders without reviews.</p>
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
